.MyInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;

  &__title {
    font-size: 14px;
    width: 150px;
  }
  & input {
    font-size: 14px;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 4px;
  }
}
